@charset "UTF-8";
/*Regra @chaset caso haja problemas com acentuações*/

body {
    background-color: lightgoldenrodyellow;
    color:chocolate;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: brown;
}
a {
    color: brown;
    text-decoration: none;
}